.scripti {
  background: linear-gradient(to top, black 0%, black 50%, transparent 50%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: pourText 2s ease-in-out infinite;
}

@keyframes pourText {
  0% {
      background-position: 0 100%;
  }
  100% {
      background-position: 0 0;
  }
}